[flake8]
exclude =
    .git,
    __pycache__,
    .venv
    node_modules
extend-ignore =
    # Line too long: black handles this.
    E501,
    # mypy analyzes undefined names for wildcards.
    F403,
    # We use literals inside Pick that get flagged as missing variable/names.
    F821
