node_modules
dist
*.egg-info

packages/reactivated/src/generated.tsx
sample/client/generated/
development/client/generated/
website/client/generated/
*.pyc
*.sqlite3
.DS_Store
.mypy_cache
# pytest
.cache

.venv
