Django==3.1.1
psycopg2==2.8.6
Werkzeug==0.16.0
black==19.10b0
autoflake==1.3.1
django-extensions==3.0.9
django-stubs==1.5.0

# We need this PR merged: https://github.com/PyCQA/pyflakes/pull/455
# So we can ignore specific errors.
https://github.com/PyCQA/pyflakes/archive/ffe938667e03b02ab8c1dfad98d30998e7d712ec.zip
flake8==3.7.8
isort==4.3.21
jsonschema==3.1.1
mypy==0.770
pytest-django==3.5.1
pytest==5.1.2
requests==2.22.0
simplejson==3.16.0
twine==2.0.0

# Install reactivated package locally
-e .
