Django==3.1.14
psycopg2-binary==2.8.6
Werkzeug==0.16.0
black==19.10b0
autoflake==1.3.1
django-extensions==3.0.9
djangorestframework==3.11.2
django-stubs==1.9.0

flake8==3.8.4
isort==4.3.21
jsonschema==3.1.1
mypy==0.910
pytest-django==3.5.1
pytest-mypy-plugins==1.9.2
pytest==6.2.5
requests==2.22.0
simplejson==3.16.0
twine==2.0.0

playright==1.17.2
pytest-playwright==0.2.2

types-requests==2.25.11
types-simplejson==3.17.1

requests-unixsocket==0.3.0

# Install reactivated package locally
-e .
