Django==5.0.2
psycopg[binary]==3.1.18
flake8==7.0.0
isort==5.13.2
black==22.3.0
autoflake==2.3.0

pytest==8.0.1
pytest-django==4.5.2
types-requests==2.27.12

gunicorn==20.1.0
dj-database-url==0.5.0

# Install reactivated package locally
# https://github.com/python/mypy/issues/13392
-e .. --config-settings editable_mode=compat
