name: Continuous Delivery
on:
    workflow_dispatch:
        inputs:
            versioning:
                description: "Versioning"
                default: minor
                required: true
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
        types: [labeled, opened, synchronize, reopened]
jobs:
    release:
        name: Create releases or snapshot
        runs-on: ubuntu-18.04
        if: github.event_name != 'pull_request' || contains(github.event.pull_request.labels.*.name, 'snapshot')
        # Currently unused, we do everything within the same job.
        outputs:
            VERSION_TAG: ${{ steps.publish_release.outputs.VERSION_TAG }}
            SNAPSHOT_OR_RELEASE: ${{ steps.publish_release.outputs.SNAPSHOT_OR_RELEASE }}
        steps:
            - uses: actions/checkout@v3
              with:
                  fetch-depth: 0
            - uses: actions/setup-node@v1
              with:
                  node-version: "16.x"
                  registry-url: "https://registry.npmjs.org"
            - uses: cachix/install-nix-action@v15
              with:
                  nix_path: nixpkgs=channel:nixos-unstable
            - name: Nix requirements
              run: nix-shell
            - name: Build
              run: nix-shell --command "npm install && python scripts/generate_types.py && npm exec -w reactivated tsc && playwright install && npm install"
            - name: Configure git
              run: |
                  git config --global user.email "silviogutierrez@gmail.com"
                  git config --global user.name "Silvio J. Gutierrez"
            - name: Publish release
              id: publish_release
              env:
                  TWINE_USERNAME: __token__
                  TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD }}
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
                  GITHUB_TOKEN: ${{ secrets.ADMIN_TOKEN }}
              run: |
                  if [ "${{ github.event_name }}" = "workflow_dispatch" ]
                  then
                      nix-shell --command "scripts/release.sh --versioning ${{ github.event.inputs.versioning }}"
                  else
                      nix-shell --command "scripts/release.sh --snapshot"
                  fi
            - name: Set up QEMU
              uses: docker/setup-qemu-action@v1
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v1
            - name: Login to DockerHub
              uses: docker/login-action@v1
              with:
                  username: ${{ secrets.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}
            - name: "Prepare docker context"
              run: scripts/build-create-django-app-docker.sh
            - name: Build and push
              uses: docker/build-push-action@v2
              with:
                  context: website_build_context
                  platforms: linux/amd64,linux/arm64
                  file: website_build_context/Dockerfile
                  push: true
                  cache-from: type=gha
                  cache-to: type=gha,mode=max
                  tags: silviogutierrez/reactivated:${{ steps.publish_release.outputs.VERSION_TAG }},silviogutierrez/reactivated:${{ steps.publish_release.outputs.SNAPSHOT_OR_RELEASE }}
