name: Continuous Integration
on:
    push:
        branches:
            - master
    pull_request:
        branches:
            - master

jobs:
    infrastructure_tests:
        name: Infrastructure tests
        runs-on: ubuntu-18.04
        steps:
            - uses: actions/checkout@v1
            - uses: cachix/install-nix-action@v12
            - name: Nix requirements
              run: nix-shell
            - name: Run tests
              run: nix-shell --command "scripts/test.sh --infrastructure"
    server_tests:
        services:
            postgres:
                image: postgres:11
                env:
                    POSTGRES_USER: postgres
                    POSTGRES_PASSWORD: postgres
                    POSTGRES_DB: postgres
                ports:
                    - 5432/tcp
                      # needed because the postgres container does not provide a healthcheck
                options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
        name: Server tests
        runs-on: ubuntu-18.04
        steps:
            - uses: actions/checkout@v1
            - uses: actions/setup-node@master
              with:
                  node-version: "13.x"
            - uses: actions/setup-python@master
              with:
                  python-version: "3.9"
            - name: Python requirements
              run: pip install -r requirements.txt
            - name: Yarn
              run: |
                  yarn
                  yarn --cwd packages/reactivated
                  yarn --cwd sample
            - name: Run tests
              run: scripts/test.sh --server
              env:
                  DATABASE_USER: postgres
                  DATABASE_PASSWORD: postgres
                  DATABASE_NAME: postgres
                  DATABASE_HOST: localhost
                  DATABASE_PORT: ${{ job.services.postgres.ports[5432] }}
    client_tests:
        name: Client tests
        runs-on: ubuntu-18.04
        steps:
            - uses: actions/checkout@v1
            - uses: actions/setup-node@master
              with:
                  node-version: "13.x"
            - uses: actions/setup-python@master
              with:
                  python-version: "3.9"
            - name: Python requirements
              run: pip install -r requirements.txt
            - name: Yarn
              run: |
                  yarn
                  yarn --cwd packages/reactivated
                  yarn --cwd sample
            - name: Run tests
              run: scripts/test.sh --client
    e2e_tests:
        name: End-to-end tests
        runs-on: ubuntu-18.04
        steps:
            - uses: actions/checkout@v1
            - uses: actions/setup-node@master
              with:
                  node-version: "13.x"
            - uses: actions/setup-python@master
              with:
                  python-version: "3.9"
            - name: Python requirements
              run: pip install -r requirements.txt
            - name: Yarn
              run: |
                  yarn
                  yarn --cwd packages/reactivated
                  yarn --cwd sample
            - name: Run tests
              run: scripts/test.sh --e2e
