name: "CLA Assistant"
on:
    issue_comment:
        types: [created]
    pull_request_target:
        types: [opened, closed, synchronize]

jobs:
    cla:
        runs-on: ubuntu-latest
        steps:
            - name: "Contributor License Agreement"
              if: (github.event.comment.body == 'recheck' || github.event.comment.body == 'I have read the CLA Document and I hereby sign the CLA. If applicable, I have obtained permission from my employer.') || github.event_name == 'pull_request_target'
              uses: silviogutierrez/github-action@with-extra-context
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  PERSONAL_ACCESS_TOKEN: ${{ secrets.CLA_ASSISTANT_PERSONAL_TOKEN }}
              with:
                  path-to-signatures: "signatures/version1/cla.json"
                  path-to-document: "https://www.reactivated.io/contributor-license-agreement/"
                  branch: "main"
                  allowlist: dependabot[bot]
                  custom-pr-sign-comment: "I have read the CLA Document and I hereby sign the CLA. If applicable, I have obtained permission from my employer."
                  remote-organization-name: getreactivated
                  remote-repository-name: cla
                  signed-commit-message: "$contributorName has signed the CLA in $owner/$repo#$pullRequestNo"
